html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

#fileInput {
    position: absolute;
    z-index: 10086;
    top: 0;
    left: 30%;
  }

#delimiterInput {
    position: absolute;
    z-index: 10086;
    top: 3%;
    left: 30%;
    }
#processButton {
    position: absolute;
    z-index: 10086;
    top: 6%;
    left: 30%;
    }